.guns-wrapper{
    width: 100%;
    height: 100%;
    padding: 1.8em;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url('../../../../assets/guns-bg-crop.jpg');
}

.guns-text-holder{
    margin-left: 40%;
    max-width: 500px;
}

.guns-text-holder h5{
    font-family: DINNextW1G-Bold;
    color: var(--third-font-color);
    text-shadow: 2px 2px 2px rgb(48, 48, 48);
}

.guns-text-holder h2{
    font-family: DINNextW1G-Bold;
    color: var(--third-font-color);
    text-shadow: 2px 2px 2px rgb(48, 48, 48);
    
}

.guns-text-holder p{
    font-size: var(--step--1);
    text-shadow: 1px 1px 1px rgb(48, 48, 48);
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .guns-text-holder{
        margin-left: 0px;
        
    }
    .guns-wrapper{
        background-position: center;
    }

    .guns-text-holder h2, .guns-text-holder p{
        margin-bottom: 0.4em;
    }

    .guns-text-holder p{
        margin-bottom: 1.2em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}