.hero-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    
}

.hero-bg-video{
    position: absolute;
    width: 100%;
    height: 100%; 
    object-fit: fill;
    z-index: 0;
}

.hero-info-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: white;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.hero-logo{
    width: 350px;
    filter: invert(44%) sepia(64%) saturate(4534%) hue-rotate(331deg) brightness(105%) contrast(101%);
    margin-bottom: 1.2em;
    z-index: 10;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-bg-video{
        object-fit: cover;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

